@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@300;700&display=swap");

/*
    font-family: 'Righteous', cursive;
    font-family: 'Ubuntu', sans-serif;
*/

/* Resets + General + vars */
* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #ffadad;
  --ora: #ffd6a5;
  --yel: #fdffb6;
  --gre: #caffbf;
  --tea: #9bf6ff;
  --blu: #a0c4ff;
  --pur: #bdb2ff;
  --pin: #ffc6ff;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fffffc;
}

#page {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
}

button {
  border: none;
}

/* HEADER */

header {
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: #fffffc;
  box-shadow: 10px 1px 15px 0px #bebebe9f;
  -webkit-box-shadow: 10px 1px 15px 0px #bebebe9f;
  -moz-box-shadow: 10px 1px 15px 0px #bebebe9f;
}

header h1 {
  margin: 1%;
  font-size: 3rem;
  font-family: "Righteous", cursive;
}

#instructions {
  width: 75%;
  margin: 1%;
}

#user-interaction {
  width: 80%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-interaction div {
  width: 80%;
  margin: 3% 0;
  display: flex;
  align-items: center;
}

#user-interaction div div {
  display: flex;
  justify-content: space-evenly;
}

#user-interaction div label {
  width: 70%;
  text-align: center;
}

#user-interaction > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#user-interaction button {
  padding: 3%;
  width: 45%;
  border-radius: 3px;
  font-family: "Ubuntu", sans-serif;
}

#start:hover,
#reset:hover {
  cursor: pointer;
  font-weight: 700;
}

#start {
  background-color: var(--gre);
}

#reset {
  background-color: var(--red);
}

#score-board {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

#about {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/* MAIN */
main {
  width: 70%;
}

#game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#summary {
  position: absolute;
  width: 50%;
  height: 92vh;
  overflow: hidden;
  border-radius: 50%;
  z-index: 3;
  backdrop-filter: blur(5px);
  background-color: #fffffc9f;
}

.sum-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sum-message {
  width: 50%;
  height: 30%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sum-message h3 {
  text-align: center;
}

#sum-message span {
  font-weight: 700;
}

#summary div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#summary button {
  width: 45%;
  padding: 3%;
  border-radius: 3px;
  font-family: "Ubuntu", sans-serif;
}

#try:hover,
#new:hover {
  cursor: pointer;
  font-weight: 700;
}

#try {
  background-color: var(--tea);
}

#new {
  background-color: var(--red);
}

#board {
  width: 70%;
  height: 90vh;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.normal {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c-fou c-fou c-thr"
    "c-one center c-thr"
    "c-one c-six c-six";
}

.medium {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c-fou c-thr c-two"
    "c-fou center c-two"
    "c-eig center c-six"
    "c-eig c-sev c-six";
}

.hard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c-one c-two c-thr"
    "c-eig center c-fou"
    "c-sev c-six c-fiv";
}

.option:hover {
  cursor: pointer;
}

.center {
  border-radius: 50%;
  grid-area: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 24%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffffc;
  border-radius: 50%;
  z-index: 2;
}

.circle p {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.on {
  opacity: 0.4;
  transition: 500ms;
}

.off {
  opacity: 1;
  transition: 500ms;
}

#c-one {
  background-color: var(--red);
  grid-area: c-one;
}

#c-two {
  background-color: var(--ora);
  grid-area: c-two;
}
#c-thr {
  background-color: var(--yel);
  grid-area: c-thr;
}
#c-fou {
  background-color: var(--gre);
  grid-area: c-fou;
}
#c-fiv {
  background-color: var(--tea);
  grid-area: c-fiv;
}
#c-six {
  background-color: var(--blu);
  grid-area: c-six;
}
#c-sev {
  background-color: var(--pur);
  grid-area: c-sev;
}
#c-eig {
  background-color: var(--pin);
  grid-area: c-eig;
}

.clear {
  display: none;
}
